

.container>ul{
    height: 300px;
    width: 90%;
    margin: 200px auto;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background-color: wheat;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container ul li{
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pseudo Class */

.container>ul>li:nth-last-of-type(even){
    background-color: cadetblue;
}

/* Pseudo Elements */


h1:hover::after{
    content: " Krishna";
}


h1:hover::before{
    content: "Galeti ";
}

.para::first-line{
    font-size: 40px;
}